<div id="menuLeftContent">
	<div class="menuItem" id="menuFacilityDetail">
		View Facility Detail
	</div>
	<div class="menuItem" id="menuRemoveAccount">
		Remove Account
	</div>
	<div class="menuItem" id="menuExpandTasks">
		Expand Tasks
	</div>
	<div class="menuItem" id="menuCollapseTasks">
		Collapse Tasks
	</div>
	<div class="menuItem" id="menuAddDelivery">
		Add Delivery
	</div>
	<div class="menuItem" id="menuAddPickup">
		Add Pickup
	</div>
	<div class="menuItem" id="menuAddFind">
		Add Find
	</div>
	<div class="menuItem" id="menuCaptureSignature">
		Capture Signature
	</div>
</div>