<div id="modalForm">
	<div id="modalTitleSection">
		<div id="modalTitleText">Add item Scan</div>
	</div>
	<div id="modalContentSection">
		<div id="modalText">
			<div id="modalScrollableContent">
				<div id="modalWrapper">
					<div id="addItemScanForm">
						<div class="modalColumn1">
							<label for="prefix">PFX</label>
						</div>
						<div class="modalColumn2">
							<input name="prefix" id="prefix" type="text" maxlength="3" style="width: 55px" value="">
						</div>
						<div class="modalColumn1">
							<label for="unit">UNIT</label>
						</div>
						<div class="modalColumn2">
							<input name="unit" id="unit" type="number" step="1" style="width: 55px" value="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	