<div id="modalForm">
	<div id="modalTitleSection">
		<div id="modalTitleText">Departure Checklist</div>
	</div>
	<div id="modalContentSection">
		<div id="modalText">
			<div id="modalScrollableContent">
				<div id="modalWrapper">
					<div class="clearBar25"></div>
					<div class="modalColumn1" style="width: 30px; padding-left: 25px;">
						<img id="accessoriesDisposablesPrepared" src="images/uhs/checkbox-unchecked.png">
					</div>
					<div class="modalColumn2" id="accessoriesDisposablesPreparedLabel">
						Accessories and disposables prepared
					</div>
					<div class="clearBar10"></div>
					<div class="modalColumn1" style="width: 30px; padding-left: 25px;">
						<img id="vehicleWalkAround" src="images/uhs/checkbox-unchecked.png">
					</div>
					<div class="modalColumn2" id="vehicleWalkAroundLabel">
						Vehicle walk-around complete
					</div>
					<div class="clearBar10"></div>
					<div class="modalColumn1" style="width: 30px; padding-left: 25px;">
						<img id="truckLoadedSecure" src="images/uhs/checkbox-unchecked.png">
					</div>
					<div class="modalColumn2" id="truckLoadedSecureLabel">
						Truck loaded and secure
					</div>
				</div>
			</div>
		</div>
	</div>
</div>