<div id="menuRightContent">
	<div class="menuItem" id="menuEditItem">
		Edit Item
	</div>
	<div class="menuItem" id="menuAddScan">
		Confirm Item
	</div>
	<div class="menuItem" id="menuRemoveScan">
		Remove Item/Confirmation
	</div>
	<div class="menuItem" id="menuDamagedItem">
		Damaged Item
	</div>
	<div class="menuItem" id="menuRefuseItem">
		Refuse Item
	</div>
	<div class="menuItem" id="menuAssignItemPatient">
		Assign Patient
	</div>
	<div class="menuItem" id="menuEditItemPatient">
		Edit Assigned Patient
	</div>
	<div class="menuItem" id="menuRemoveItemPatient">
		Remove Assigned Patient
	</div>
	<div class="menuItem" id="menuEditPreferredAccessory">
		Edit Preferred Accessory
	</div>
	<div class="menuItem" id="menuClearRefusal">
		Clear Refusal
	</div>
	<div class="menuItem" id="menuSwapOut">
		Swap Out
	</div>
</div>