<div id="content" class="content" style="height: 500px;">
	<div id="loginPage">
		<div id="loginHeader" style="position: relative; text-align: center; width: 50%; margin: auto;">
			<div style="position: relative; float: left; width: 50%;">
				<img src="/public/images/uhs/inMotion-logo.png" alt="uhs logo" id="uhsLogo"/>
			</div>
		</div>
		<div class="clearBar10"></div>
		<div id="loginContent" style="text-align: center;">
			<div id="loginError"></div>
			<input type="text" name="userName" id="loginFormUserName" value="" placeholder=" user name" style="height: 30px; margin: 8px 0 0 0;">
			<br/>
			<input type="password" name="password" id="loginFormPassword" value="" placeholder=" password" style="height: 30px; margin: 8px 0 0 0;">
			<br/>
			<button id="loginButtonConnect" class="loginButton">Login</button>
		</div>
		<div class="clearBar10"></div>
		<div id="loginFooter" style="text-align: center;">
			<div>inMotion 2 <span id="inMotionEnvironment" style="color: red;">Unknown</span></div>
		</div>
	</div>
</div>