<div id="content">
	<div id="menuLeft" style="left: -269px;">
		<div class="wrapper" id="menuLeftWrapper">
			<div id="menuLeftContent"></div>
		</div>
		<div id="menuCloseLeftContainer"><img src="images/uhs/menuCloseLeft.png"></div>
	</div>
	<div id="main">
		<div id="headerContainer" class="tripContainer">
			<div id="headerSide">
				<div id="headerSideContent"></div>
			</div>
			<div id="headerList" class="taskHeaderContainer">
				<div id="headerListContent"></div>
			</div>
		</div>
		<div class="clearBar0"></div>
		<div id="frameContainer">
			<div id="frameSide">
				<div id="frameSideWrapper">
					<div id="frameSideContent"></div>	
				</div>
			</div>
			<div id="frameList">
				<div id="frameListWrapper">
					<div id="frameListContent"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="menuRight" style="right: -269px;">
		<div class="wrapper" id="menuRightWrapper">
			<div id="menuRightContent"></div>
		</div>
		<div id="menuCloseRightContainer"><img src="images/uhs/menuCloseRight.png"></div>
	</div>
</div>