<div id="headerSideContent">
	<div id="tripContainer" data-tripId="{{tripId}}" data-localTripId="{{localTripId}}" data-employeeId="{{employeeId}}" data-currentEmployeeInitials="{{currentEmployeeInitials}}" data-currentEmployeeId="{{currentEmployeeId}}" data-currentEmployeeShortName="{{currentEmployeeShortName}}" data-applicationMode="">
		<div id="tripImageContainer"><img id="tripImage" src="images/uhs/menuWhite.png"></div>
		<div id="tripTextContainer">
			<div id="tripText1">{{employeeName}}</div>
			<div id="tripText2">{{dateFormat dspTripCreateDateDevice}} - {{status}}</div>
			<span id="tripText3">{{dspTripId}}</span>&nbsp;<span id="syncMessage" class="blink"></span>
		</div>
	</div>
</div>