<div id="taskHeaderContainer" data-transferNumber="{{transferNumber}}" data-accountId="{{accountId}}" data-localTransferNumber="{{localTransferNumber}}" data-transferType="{{transferType}}" data-transferDate="{{transferDate}}" data-hasUnitAccessoryTracking="{{hasUnitAccessoryTracking}}" data-scanLevel="{{scanLevel}}" data-swapoutNumber="{{swapoutNumber}}" data-localSwapoutNumber="{{localSwapoutNumber}}">
	<div id="taskHeaderTextContainer">
		<div id="taskHeaderText1">
			<div id="taskHeaderText1_1">{{transferType}} {{dspTransferNumber}}</div>
			<div id="taskHeaderText1_2">
				{{orderBy}}<br>
				{{telephoneNumber}}
			</div>
		</div>
		<div id="taskHeaderText2">
			{{orderDate}}<br>
			{{department}}<br>
			{{purchaseOrder}}<br>
			{{patientName}}
		</div>
	</div>	
	<div id="taskHeaderImageContainer"><img id="taskHeaderImage" src="images/uhs/menuBlack.png"></div>
</div>