<div id="modalForm">
	<div id="modalTitleSection">
		<div id="modalTitleText">Search Equipment</div>
	</div>
	<div id="modalContentSection">
		<div id="modalText">
			<div id="modalScrollableContent">
				<div id="modalWrapper">
					<div style="width:650px; ">
						<div class="modalColumn1" style="width: 200px; height: 40px;">
							<label for="searchInput">Search By Serial Number</label>
						</div>
						<div class="modalColumn2">
							<input id="searchInput" name="searchInput" id="searchInput" type="text" value="">
						</div>
						<div id="modalButton">
							<button id="searchButton" class="modalButtonTop">Search</button>
						</div>	
					</div>
					<div class="clearBar0" style="border-bottom: 1px solid #3E79B1;"></div>
					<div id="searchResult"></div>
					{{#each equipment}}
					<div class="equipmentContainer">
						<div class="equipmentContainerRadio">
							<img src="images/uhs/radiobutton-unchecked.png" class="equipmentList" id="equipmentList{{@index}}" data-index="{{@index}}" data-prefix="{{prefix}}" data-unit="{{unit}}">
						</div>
						<div class="equipmentContainerText1" data-index="{{@index}}">
							{{prefix}} {{dspUnit}}
						</div>
						<div class="equipmentContainerText2" data-index="{{@index}}">
							{{serialNumber}}
						</div>
						<div class="equipmentContainerText3" data-index="{{@index}}">
							{{description}}
						</div>
					</div>		
					{{/each}}
				</div>			
			</div>
		</div>
	</div>
</div>	
