<div id="menuRightContent">
	<div class="menuItem" id="menuViewTransferOrder">
		View Transfer Order
	</div>
	<div class="menuItem" id="menuEditOrderItem">
		Add Prefix
	</div>
	<div class="menuItem" id="menuAddItemScan">
		Add Item
	</div>
	<div class="menuItem" id="menuRefuseSelectedItems">
		Refuse Selected Items
	</div>
	<div class="menuItem" id="menuAssignTaskPatient">
		Assign Patient
	</div>
	<div class="menuItem" id="menuEditTaskPatient">
		Edit Assigned Patient
	</div>
	<div class="menuItem" id="menuRemoveTaskPatient">
		Remove Assigned Patient
	</div>
	<div class="menuItem" id="menuEditTask">
		Edit Task
	</div>
	<div class="menuItem" id="menuRemoveTask">
		Remove Task
	</div>
	<div class="menuItem" id="menuSearch">
		Search by Serial Number
	</div>
	<div class="menuItem" id="menuEnableScanner">
		Enable Scanner
	</div>
</div>