<div id="modalForm">
	<div id="modalTitleSection">
		<div id="modalTitleText">Terms and Conditions</div>
	</div>
	<div id="modalContentSection">
		<div id="modalText">
			<div id="modalScrollableContent">
				<div id="modalWrapper">
					
					<div class="termHeader">Payment and Credit Terms</div>
  					<p>Unless an exception to these terms has been agreed upon by both parties in writing the follow terms apply to Customer and UHS. Payment is due 30 days from the date of this invoice. Past due balances are subject to and additional fees of 1.5% per month (18% per annum) or the highest amount allowed by law.  Customer is responsible for taxes, if any, associated with this invoice, including without limitation, sales and use taxes. On five days' notice UHS may suspend performance of Services for non-payment until a reasonable time after the non-payment is cured. There is no right of off set, and Customer will take no deductions, unless authorized to do so by UHS through issuance of a credit memorandum. Notice of any incorrect charges may be claimed in writing within 90 days of UHS invoice to which the claim relates.  Such claims made after such 90-day period are null and void.</p>
  					<div class="termHeader">Discount, Coupon or Rebate</div>
					<p>The invoice price may be subject to a discount, coupon or rebate. Customer must fully and accurately report all discounts, coupons or rebate on any federal or state health care program cost reports and as otherwise required under 42 USC 1320a-7b(b) and 42 CFR 1001.952 and applicable state law. Customer will provide access to all information provided by UHS about any discount, coupon or rebate upon request by the U.S. Department of Health and Human Services or a state health care program or agency.</p>
					<div class="termHeader">Equipment Transfer</div>
					<p>Customer agrees to contact UHS and arrange for pick-up of UHS equipment at least 30 days prior to the due date for any inspection, preventative maintenance or other required service as indicated on the equipment or as communicated by UHS.  UHS will not be responsible for any damages or injury to person or property that may occur as a result of Customer's failure to make equipment available for inspection or service. Customer will be billed for the replacement cost of all lost or damaged equipment and accessories.</p>
					<p>Customer authorizes UHS to disclose protected health information to other covered entities for treatment, payment and for certain health care operations of other covered entities in a manner consistent with the Privacy Rule.  Disclosure for treatment purposes may include those necessary for care coordination and/or continuity of patient care.</p>
					<div class="termHeader">Return of Goods Policy</div>
					<p>All returns of purchased disposables and accessories ("Supplies") for credit require written authorization from UHS (via e-mail), which must be obtained through Customer's local UHS district office service provider. Credit will be issued only after the Supplies are received and examined by UHS.</p>
					<div class="termHeader">Supplies may be returned for credit under the following conditions:</div>
						<ol type="i">
							<li> Up to 180 days from date of invoice - a 25% restocking fee will be assessed. No restocking fee will apply if the products are deemed by UHS as defective.</li>
					    	<li> Only unopened Supplies can be returned - Credit allowed will be based on saleable Supplies. </li>
					    	<li>  UHS will not give credit for:
								<ol type="1">
									<li> Supplies not in standard packaging.</li>
					        		<li> Opened Supplies. </li>
					        		<li> Supplies damaged in shipment.  Claim must be filed with carrier. </li>
					        		<li> Supplies not purchased through UHS.</li>
					        		<li> Supplies not purchased through UHS.</li>
					        		<li> Supplies with unauthorized labels.</li>
					        		<li> Supplies past 180 days of invoice date.</li>
					        		<li> Discontinued, FDA recalled, special price or damaged disposable Supplies.</li>
					        		<li> Third Party returns.</li>
					        		<li> Supplies with insufficient shelf life (expires in 90 days or less)</li>
					      		</ol>
					    	</li>
					  	</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
