<div id="menuLeftContent">
	<div class="menuItem" id="menuViewAllAccounts">
		View All Accounts
	</div>
	<div class="menuItem" id="menuViewHeldTransfers">
		View Held Transfers
	</div>
	<div class="menuItem" id="menuEditTrip">
		Edit Trip
	</div>
	<div class="menuItem" id="menuCheckout">
		Checkout
	</div>
	<div class="menuItem" id="menuCloseTrip">
		Close Trip
	</div>
	<div class="menuItem" id="menuValidateTrip">
		Validate
	</div>
	<div class="menuItem" id="menuSynchronizeTrip">
		Synchronize
	</div>
	<div class="menuItem" id="menuRefreshTrip">
		Refresh Screen
	</div>
	<div class="menuItem" id="menuLogout">
		Logout
	</div>
</div>